input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 100px #999da4 inset !important;
  -webkit-box-shadow: 0 0 0 100px #999da4 inset !important;
}
